@using Appleseed.Framework
@model UserManager.Models.UserManagerModel


<head id="Head1" runat="server">
    <meta charset="utf-8">
    <title>User Manager</title>
    <link href="@HttpUrlBuilder.BuildUrl("~/aspnet_client/JQX/styles/jqx.base.css")" rel="stylesheet" />
    <script src="@HttpUrlBuilder.BuildUrl("~/aspnet_client/JQX/jqx-all.js")"></script>
    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
</head>


<div>
    <div class="col-lg-6" style="padding-left:0px;"><input type="text" placeholder="Search Keyword" id="txtKeywords" /> <input type="button" id="btnSearch" class="CommandButton" value="Search" /></div>
    <div class="col-lg-6 text-right"><input type="button" id="btnAddNew" class="CommandButton" value="Add New User" /></div>
</div>
<div id="jqxgrid"></div>

<script type="text/javascript">

    function Edit(url) {
        openInModal(url.toString(), '@General.GetString("EDIT_USER")');
        return false;
    }
    function Delete(id, userName) {
        if (confirm('@General.GetString("CONFIRM_DELETE_MESSAGE")' + userName+ '?')) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: {
                    "userID": id,
                },
                success: function (data) {
                    $("#jqxgrid").jqxGrid('updatebounddata');
                },
            });
        }

        return true;

    }

    $(document).ready(function () {
        $('#txtKeywords').live("keypress", function (e) {
            if (e.keyCode == 13) {
                $.ajax({
                type: "GET",
                url: '@Url.Action("jqxSetSearchKeyword")' + "?keyword=" + $("#txtKeywords").val(),
                success: function (data) {
                    $("#jqxgrid").jqxGrid('updatebounddata');
                },
            });
                return false; // prevent the button click from happening
            }
        });

        $("#btnSearch").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("jqxSetSearchKeyword")' + "?keyword=" + $("#txtKeywords").val(),
                success: function (data) {
                    $("#jqxgrid").jqxGrid('updatebounddata');
                },
            });
        });

        $("#btnAddNew").click(function () {
            openInModal("@Model.UserEmail", '@General.GetString("USER_REGISTRY")');
        });
        var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'UserName', type: 'string' },
                    { name: 'UserId', type: 'string' },
                    { name: 'Role', type: 'string' },
                    { name: 'EditId', type: 'string' },
                ],
                cache: false,
                url: '@Url.Action("jqxSearch")',
                filter: function () {
                    // update the grid and send a request to the server.
                    $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                },
                sort: function () {
                    // update the grid and send a request to the server.
                    $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                },
                root:"rows",
                beforeprocessing: function (data) {
                    console.log(data);
                    if (data != null) {
                        source.totalrecords = data[0].records;
                    }
                }
            };
        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
                alert(error);
            }
        }
        );

        // initialize jqxGrid
        $("#jqxgrid").jqxGrid(
            {
                width: '100%',
                source: dataadapter,
                filterable: false,
                sortable: true,
                autoheight: true,
                pageable: true,
                virtualmode: true,
                rendergridrows: function (obj) {
                    console.log(obj);
                    return obj.data;
                },
                columns: [
                    { text: 'User Name', datafield: 'UserName', width: "50%" },
                    { text: 'Role', datafield: 'Role', width: "40%" },
                    { text: '', width: "5%", columntype: '', cellsrenderer: formatterLink, cellclassname: "aligncenter", cellsalign: "center", align: 'center'},
                    { text: '', width: "5%", columntype: '', cellsrenderer: formatterDeleteLink, cellclassname: "aligncenter", cellsalign: "center", align: 'center'},
                ]
            });


        function formatterLink(row, column, value) {
            var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', row);
            var result = "<a class='ui-icon ui-icon-pencil' href='#' onclick=\"Edit('" + dataRecord.EditId + "');return false;\" style= \"color: blue; text-decoration: none; \">" + "" + "</a>";
            return result;
        }
        function formatterDeleteLink(row, column, value) {
            var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', row);
            var result = "<a class='ui-icon ui-icon-trash' onclick=\"Delete('" + dataRecord.UserId + "', '" + dataRecord.UserName + "')\" href=\"#\" style= \"color: blue; text-decoration: none;  \">" + "" + "</a>";
            return result;
        }

    });

</script>
