@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/aspnet_client/jQuery/jquery-1.7.2.min.js")"></script>
<script type="text/javascript" src="@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/aspnet_client/jQuery/jquery-ui-1.8.11.min.js")"></script>
<link type="text/css" rel="stylesheet" href="@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/Design/jqueryUI/appleseed/jquery-ui.custom.css")" /> 
<link type="text/css" rel="stylesheet" href="@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/Design/FileManager.css")" /> 

    



<h2>Index</h2>

La hora es : @DateTime.Now 
<br/><br/>

@Html.Action("Module") 