
@using MvcContrib;

<script type="text/javascript" src="@Url.Resource("Scripts.jquery.jstree.js")"></script>
<script type="text/javascript" src="@Url.Resource("Scripts.Uploadify.jquery.uploadify-3.1.min.js")"></script>
<link type="text/css" rel="stylesheet" href="@Url.Resource("Scripts.Uploadify.uploadify.css")" />
<link type="text/css" rel="stylesheet" href="@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/aspnet_client/ContextMenu/jquery.contextMenu.css")" /> 
<link type="text/css" rel="stylesheet" href="@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/aspnet_client/jQuery/jsTree/themes/default/style.css")" /> 

<script type="text/javascript" src="@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/aspnet_client/ContextMenu/jquery.contextMenu.js")"></script>
<script type="text/javascript" src="@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/aspnet_client/ContextMenu/jquery.ui.position.js")"></script>


@*<link type="text/css" rel="stylesheet" href="@Url.Resource("Content.default.style.css")" /> *@

@*<div id="MainTree" class="demo">
</div>*@

<div id="newjsTree"></div>

