@model Password.Models.RecoveryModel

<div class="div_ev_Table">
        <table border="0" cellpadding="4" cellspacing="0" width="98%">
            <tr>
                <td align="left" class="Head">
                    <label>@Appleseed.Framework.General.GetString("CHANGE_PWD_HEADER", "Change your password")</label>                    
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr noshade="noshade" size="1" />
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="4" cellspacing="0" width="98%">
            <tr>
                <td class="Normal">
                   <label id="lblMessage" class="Normal">@Model.message</label>
                </td>
            </tr>
            <tr id="trFields">
                <td>
                    <table border="0" cellpadding="4" cellspacing="0">
                        <tr>
                            <td><label class="Normal">@Appleseed.Framework.General.GetString("CHANGE_PWD_ENTER_NEW_PWD", "New password")</label></td>
                            <td><input type="password" id="txtPass" /></td>
                        </tr>
                        <tr>
                            <td><label class="Normal">@Appleseed.Framework.General.GetString("CHANGE_PWD_ENTER_NEW_PWD_AGAIN", "New password again")</label></td>     
                            <td><input type="password" id="txtPass2" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
            <div id="SaveButtonsDiv">
                <input type="button" id="SaveBtn" class="CommandButton" value="@Appleseed.Framework.General.GetString("SAVE", "Save")" onclick="savePassword()"/>
            
                <input type="button" id="CancelBtn" class="CommandButton" value="@Appleseed.Framework.General.GetString("CANCEL", "Cancel")" onclick="goHome();" />
            </div>
            <div id="GoHomeDiv" style="display: none;">
                <input type="button" id="GoHomeBtn" class="CommandButton" value="@Appleseed.Framework.General.GetString("CHANGE_PWD_GO_TO_HOME_PAGE", "Go to home page")" onclick="goHome();"/>            
            </div>
        
    </div>

    <script type="text/javascript">

        function goHome() {
            window.location.href = '@Url.Action("GoHome")';
        }

        function savePassword() {

            var pwd1 = $('#txtPass').val();
            var pwd2 = $('#txtPass2').val();
            var pwduserId = '@Model.UserId';
            var pwdtoken = '@Model.token';

            if (pwd1 == pwd2 && pwd1 != '') {

                $.ajax({
                    url: '@Url.Action("savePassword")',
                    type: 'POST',
                    data: {
                        "pwd1": pwd1,
                        "pwd2": pwd2,
                        "userId": pwduserId,
                        "token": pwdtoken
                    },
                    success: function (data) {
                        if (data.ok) {
                            $('#lblMessage').text(data.Message);
                            $('#lblMessage').removeClass("Error");
                            $('#lblMessage').addClass("Normal");
                            $('#trFields').hide();
                            $('#SaveButtonsDiv').hide();
                            $('#GoHomeDiv').show();
                        } else {
                            $('#lblMessage').text(data.Message);
                            $('#lblMessage').addClass("Error");
                            $('#lblMessage').removeClass("Normal");
                        }

                    },
                    error: function (data) {
                        $('#lblMessage').text(data.responseText);
                        $('#lblMessage').addClass("Error");
                        $('#lblMessage').removeClass("Normal");

                    }
                });
            } else {
                $('#lblMessage').text('@Appleseed.Framework.General.GetString("CHANGE_PWD_NOT_SAME_TWICE_ERROR", "The second password entered is not the same as the first one. Please write them again.")');
                $('#lblMessage').addClass("Error");
                $('#lblMessage').removeClass("Normal");
            }
        
        }
    
    </script>
